click
colorama
cycler
Flask
fonttools
gunicorn
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
sklearn
threadpoolctl
Werkzeug
xgboost